/* General */
main {
    background-color: #F4F3EF;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* Buttons */
.btn {
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-buttons a {
    margin-left: 20px;
    margin-bottom: 48px;
}

.bottom-buttons button {
    margin-top: 20px;
    margin-left: 20px;
}

.btn-width-80 {
    width: 70px;
    padding-left: 0;
    padding-right: 0;
}

.btn-width-100 {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
}



.btn-primary {
    background-color: #434952;
    border-color: #434952;
}
.btn-primary:hover,
.btn-primary:active {
    background-color: #8D9CA4 !important;
    border-color: #8D9CA4 !important;
}

.btn-secondary {
    background-color: #798392;
    border-color: #798392;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #a4abb5 !important;
    border-color: #a4abb5 !important;
}

.btn-danger:hover,
.btn-danger:active {
    background-color: #ea8992 !important;
    border-color: #ea8992 !important;
}

/* Data table */
.dataTables_filter input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dataTables_length select {
    padding-left: 20px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 3px;
    font-size: 16px;
}

.dataTables_info {
    margin-top: 12px;
    margin-bottom: 4px;
}


.data-table thead th {
    background-color: #D9CCC1;

}

.data-table td {
    word-wrap: break-word;
    max-width: 200px; /* Set a maximum width to prevent excessively long cells */
}

.dataTables_wrapper {
    padding-bottom: 10px;
}


.dataTables_wrapper .dt-buttons {
    position: absolute;
    bottom: 0;
    right: 10px;
}



.dataTables_wrapper .dataTables_filter label {
    font-weight: bold;
    font-size: 18px;
}

div.dataTables_paginate span a.paginate_button {
    margin-top: 20px;
    margin-bottom: 7px;
    padding:0;
}




/* styles.css
 genres
 index*/


.select {
    margin-left:8px !important;
}

.dataTables_wrapper.buttons-csv {
    color: #000 !important; /* Set your desired text color */
}

.dataTables_wrapper.buttons-csv:hover {
    color: #000 !important; /* Set the same text color to maintain consistency */
}




.dataTables_wrapper.buttons-csv {
    margin-right: 10px; /* Adjust the margin as needed */
}



/* Basic styling for the form */
.genres {
    font-family: 'Arial', sans-serif;
}



/* Styling for the form labels */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px; /* Increase font size for labels */
}

/* Styling for the form inputs */
.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 17px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for the textarea */
textarea.form-control {
    resize: vertical;
}

.confirmBtn {
    margin-top: 20px;
    font-size: 18px;
}

.returnBtn {
    margin-left: 20px;
}

/* Styling for the buttons */





/* Align the form buttons to the right */
.text-right {
    text-align: right;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #434952;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Add a visual line between Loan and Author links in the navigation menu */
.loan-link + .author-link::before {
    content: '';
    border-left: 1px solid #e2e8f0; /* Change the color as needed */
    height: 1.5rem; /* Adjust the height of the line as needed */
    margin: 0 0.5rem; /* Adjust the spacing as needed */
}

td.dtr-control {
    padding: 40px; /* Adjust the padding as needed */
}

#bookIndex td:nth-child(4) {
    max-width: 100px; /* Adjust the max-width as needed */
    word-wrap: break-word;
}



