@import "bootstrap/dist/css/bootstrap.min.css";

.input-cover {
    position: relative;
}
.for-disabled {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
input:disabled + .for-disabled{
    display: block;
}

/* Set margin for DataTables buttons */
.dataTables_wrapper .dt-buttons {
    margin-top: 0px !important; /* Add !important to override existing styles */
}

/* If you want to target a specific button by its class */
.dataTables_wrapper .dt-buttons .buttons-csv {
    margin-right: 10px !important; /* Add !important to override existing styles */
}
